@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Quicksand');
.navbar {
  height: 13vh;
}
#fonditoNav {
  overflow: hidden;
}
.fut {
  width: auto;
  height: auto;
  z-index: 2;
}
  .carousel {
      padding: 0;
      margin: 0;
      height: 68vh;
      width: 100vw;
  }
  #cuadro {
      width: 100%;
      padding: 0;
      margin: 0;
  }
  .carousel h3 {
    text-shadow: 2px 2px 2px #000000;
    font-size: 3.2vw;
    padding-bottom: 7vw;
  }
  .carousel-item > img { 
    height: 57vh;
    width: 100%; 
    object-fit: contain;
    opacity: 0.9;
  }
  html  {
    scroll-behavior: smooth;
  }
  .botoncito {
    position:absolute;
    z-index:100;
    background-color:#FFFFFF;
    width: 12vw;
    top:95vh;
    left: calc(50% - 6vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#vidbg {
  position: relative;
  background-color: black;
  height: 86.1vh;
  width: 100%;
  overflow: hidden;
}

#vidbg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#vidbg .container {
  position: relative;
  z-index: 2;
}

#vidbg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}




.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}






/* #################################################### */
/* #################################################### */
/* #################################################### */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  
    #vidbg h1 {
      font-size: 14vw;
    }
    #vidbg p {
      font-size: 5vw;
    }

      .carousel {
          padding: 0;
          margin: 0;
          height: 54.5vh;
          width: 100vw;
      }
      #cuadro {
          width: 100%;
          padding: 0;
          margin: 0;
      }
      .carousel h3 {
        text-shadow: 2px 2px 2px #000000;
        font-size: 3.2vw;
        padding-bottom: 7vw;
      }
      .carousel-item > img { 
        height: 57vh;
        width: 100%; 
        object-fit: contain;
        opacity: 0.9;
      }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .carousel {
        width: 98.79vw;
    }

}

/* Super large devices (huge laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1367px) {

    .carousel {
        width: 100vw;
    }

}